.clients {
  display: flex;
  justify-content: center;
  text-align: center;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  padding: 16px 32px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}

.clients__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
