.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.container--footer {
  display: flex;
  align-items: baseline;
}

.logo {
  font-family: $secondary-font;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;

  &-studio {
    font-family: $secondary-font;
    color: $accent-color;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    cursor: pointer;
  }
}

.footer .logo-studio {
  margin-bottom: 20px;
}

.contacts {
  margin: 0;

  &__item {
    color: #ffffff;
    font-style: normal;
    list-style: none;
  }

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contact__item .contact__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  list-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.social-footer {
  margin-left: 70px;

  &__title {
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    font-style: normal;
  }
}

.footer-list {
  display: flex;
  margin: 0;
  margin-top: 20px;

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  padding: 12px;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: #ffffff;
  }
}

.social {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  border-radius: 50px;
  padding: 12px;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: #ffffff;
  }
}

.social__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  width: 448px;
}

.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $accent-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
}

.form__input:hover + .form__icon,
.form__input:focus-within + .form__icon {
  fill: $accent-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus {
  border-color: $accent-color;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
  position: relative;

  input {
    padding-left: 35px;
  }
}

.form__icon {
  position: absolute;
  top: 55%;
  left: 12px;

  &:hover,
  &:focus {
    fill: $accent-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.box {
  margin-left: 93px;
}

.subscribe {
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
}

.send {
  display: flex;
  align-items: center;
}

.footer-form input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: #ffffff;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form {
  display: flex;
}

.button {
  display: flex;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  margin-left: 12px;
  padding: 10px 28px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $secondary-btn-color;
  }
}

.logo-icon {
  margin-left: 10px;
}
