.team {
  margin: 0;
  display: flex;

  &__title {
    color: $title-text-color;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
  }

  &__text {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
  }
}

.team__item {
  overflow: hidden;
  box-shadow: $card-shadow;
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
