.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--background {
    background-color: $bg-color;
  }
}

.section--nopaddingtop {
  padding-top: 0;
}

.section__title {
  color: $title-text-color;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.works {
  display: flex;
  justify-content: space-between;

  &__item {
    position: relative;
    list-style: none;
  }
}

p.works__label {
  display: flex;
  position: absolute;
  bottom: 0;
  line-height: 1.14;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}
